<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
            fieldset{
                padding: 10px;
                width: 300px;
            }
        </style>
    </head>
    <body>
<h1>Submitted Information</h1>
<fieldset>
    <p>Name: <%= survey.name %> </p>
    <p>Dojo Location: <%= survey.location %> </p>
    <p>Favorite Language: <%= survey.language %> </p>
    <p>Comments: <%= survey.comment %> </p>
</fieldset>

    </body>
</html>
