<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
<h1>About Me</h1>
<p>My name is Eugene Kim, and I am an aspiring software developer. My previous background is in finance, mainly in the Federal Sector of government contracting. I am proficient in financial modeling, budgeting, forecasting and analyzing large sets of data. I am hoping to leverage my previous financial skillset with a software developer skillset to take my career to the next level</p>
<a href="/">Go Back to Homepage</a>
    </body>
</html>
