<html>
    <body>
        <h1>Welcome to Quoting Dojo</h1>

        <form action="/submit_quotes" method='post'>
            Name: <p><input type="type" name='name'></p>
            Quote: <p><textarea name="quote" id="quote" cols="30" rows="10"></textarea></p>
            <input type="submit" value="Submit New Quote">
        </form>

        <form action="/see_quotes">
    <input type="submit", value = "See All Quotes">

        </form>
    </body>
</html>
