<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>{{title}}!!</h1>
  <p>
      <a [routerLink]="['/']">Washington DC</a> |
      <a [routerLink]="['/seattle']">Seattle</a> |
      <a [routerLink]="['/sanjose']">San Jose</a> |
      <a [routerLink]="['/burbank']">Burbank</a> |
      <a [routerLink]="['/dallas']">Dallas</a> |
      <a [routerLink]="['/chicago']">Chicago</a>
  </p>
  <hr>
  </div>


<fieldset>
        <router-outlet>    </router-outlet>
</fieldset>
