<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
        * {
            font: san-serif;
            text-align: center;
        }
        .box{
            display: inline-block;
            text-align: center;
            padding: 10px;
            width: 300px;
            height: 200px;
            vertical-align: top;
            margin: auto;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Hi, I'm Eugene Kim!</h1>
    <h3>Welcome to My Portfolio</h3>

    <div class="box">
        <a href="/projects">My Projects</a>
        <p>Some Projects Include:</p>
        <ul>
            <li>Ninja Gold</li>
            <li>Disappearing Ninja</li>
        </ul>
    </div>

    <div class="box">
        <a href="/testimonials">Testimonials</a>
        <p>Click here to see a list of testimonials from satisfied clients! </p>
    </div>

    <div class="box">
        <a href="/about_me">About Me</a>
        <p>My Name is Eugene Kim and I am an aspiring software developer. Previous background in finance. Hoping to merge skillsets to further enhance my career</p>

    </div>

</body>

</html>
