<!DOCTYPE html>
<html>
    <body>
        <h1>Create a New Animal!</h1>

        <form action="/new_animal" method="post">
            Name: <p><input type="text" name = 'name'></p>
            Food: <p><input type="text" name = 'food'></p>
            Size: <p><input type="text" name = 'size'></p>

            <input type="submit" value = "Add Animal">
        </form>

        <p><a href="/">Home</a></p>
    </body>
</html>
