<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
            *{
                text-align: center;
            }
            #header{
                border: 1px solid black;
            }
            .time{
                font-size: 35px;
            }
        </style>
    </head>
    <body>
<h3 id = "header">The current Time and Date:</h3>

<div class="time">
    <p>{{date}}</p>
    <p>{{time}}</p>
</div>


    </body>
</html>
