*{
    margin:0px;
    border:0px;
}
.Header{
    padding: 10px;
}

.Header h2{
    position: relative;
    left: 600px;
    font-family: sans-serif;
}
.Header h1{
    font-family: 'Architects Daughter', cursive;
}

.Wrapper{
    width: 1125px;
    padding: 5px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#796A8F, #230029); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#796A8F, #230029); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#796A8F, #230029); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#796A8F, #230029); /* Standard syntax */

}
#photome{
    display: inline;
    margin: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: gray;
}
.photo{
    display: inline;
}
.aboutcontainer{
    width: 650px;;
    height: 260px;
    margin: 15px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}
.aboutcontainer p{
    padding: 10px;
}
.container1{
    vertical-align: top;
    width:350px;
    height: 600px;;
    margin: 10px;
    border-width: 100px;
    display: inline-block;
    background-color: white;
}
.container2{
    height: 375px;
}
.container1 p{
    padding: 5px;
}
.container1 img{
    padding: 5px;
}
.gradient{
    color: white;
    font-family: sans-serif;
    padding: 10px;
    border-style: solid;
    background: cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
    copy
}
.logo{
    height: 50px;
    width: 50px;
}
.footer{
    margin:10px;
    text-align: center;
    display: block;
}
.footer ul li{
    list-style-type: none;
    display: inline;
}
.social{
    height: 25px;
    width: 25px;
}
.social li{
    display: inline-block;
}
.button{
    display: block;
    text-align: center;
}
